html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#__next {
  height: 100%;
}

.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
  height: calc(100% - 76px) !important;
}
